<!DOCTYPE html>
{% load static %}
<html
        lang="en"
        class="light-style customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="{% static '/assets/' %}"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>MkAuto</title>

    <meta name="description" content=""/>



    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static '/assets/vendor/fonts/boxicons.css' %}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/css/core.css' %}" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{% static '/assets/vendor/css/theme-default.css' %}"
          class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="{% static '/assets/css/demo.css' %}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static '/assets/vendor/css/pages/page-auth.css' %}"/>
    <!-- Helpers -->
    <script src="{% static '/assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static '/assets/js/config.js' %}"></script>
</head>


<body>
<!-- Content -->


<h4 class="fw-bold py-4 mb-2"> MK Auto / Transport Detail / {{invoice_no}}</h4>

<div class="card mb-1">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
<div class="row">
        <div class="mb-3 col-md-6">
            <label class="form-label">Transport Mode</label>
            <select class="form-select" id="trn_mode" name="trn_mode"
                    aria-label="Default select example" onchange="trnMode(this)">
                <option selected="air" value="air">AIR</option>
                <option value="Road">ROAD</option>
                <option value="sea">SEA</option>
                <option value="railway">RAILWAY</option>
            </select>
        </div>
        <div class="mb-3 col-md-6">
        <label class="form-label">Transporter</label>
        <select class="form-select" id="id_transporter" name="transporter" onchange="trnGst(this)" required>
            <option value="">--------- Select --------</option>

        </select>
  </div>


    <div class="mb-3 col-md-6">
        <label class="form-label">Transporter GST</label>
        <input class="form-control" type="text" id="id_trn_gst" name="trn_gst" required>
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">Transport Document No</label>
        <input class="form-control" type="text" value="{{invoice_no}}" id="trn_doc_no" name="trn_doc_no">
    </div>

    <div class="mb-3 col-md-6">
        <label class="form-label">Transport Document Date</label>
        <input class="form-control" type="text" value="{{doc_date}}" id="trn_date" name="trn_date">
    </div>
    <div class="mb-3 col-md-6">
        <label class="form-label">Vehicle No</label>
        <input class="form-control" type="text" id="trn_vec_no" name="trn_vec_no" required>
    </div>


    <div class="mb-3 col-md-6">
        <label class="form-label">Vehicle Type</label>
        <select class="form-select" id="trn_vec_type" name="trn_vec_type"
                aria-label="Default select example">
            <option selected="" value="R">Regular</option>
            <option value="O">ODC</option>
            <option value="">NONE</option>
        </select>
    </div>


    <div class="mb-3">
        <a href="{% url 'mkauto_iris_from_admin_view' %}" class="btn btn-danger">Close</a>
        <button type="submit" class="btn btn-primary">Generate</button>
    </div>

        </div>
    </form>


  </div>
</div>
</div>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                     class="bs-toast toast toast-placement-ex m-2 bg-danger top-0 end-0 fade show">
                    <div class="toast-header">
                        <i class='bx bxs-error-alt'></i>&nbsp;
                        <div class="me-auto fw-semibold">Error</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
                {% elif message.tags == "success" %}
                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                     class="bs-toast toast toast-placement-ex m-2 bg-success top-0 end-0 fade show">
                    <div class="toast-header">
                        <i class='bx bx-list-check'></i>&nbsp;
                        <div class="me-auto fw-semibold">Success</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>
                {% elif message.tags == "info" %}
                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                     class="bs-toast toast toast-placement-ex m-2 bg-info top-0 end-0 fade show">
                    <div class="toast-header">
                        <i class='bx bx-list-check'></i>&nbsp;
                        <div class="me-auto fw-semibold">info</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">{{ message }}</div>
                </div>

                {% endif %}
            {% endfor %}
        {% endif %}


    </div>
</div>


<!-- / Content -->


<script>
    function trnMode(element){
        let trn_mode = element.value
        $.ajax({
            type: 'GET',
            url: "{% url 'mkauto_transport_mode_jquery' %}",
            data: {'trn_mode':trn_mode},

            success: function (data){

                let SchemaValue = data['transporters_names'];
                schemaeData = SchemaValue;
                let schema = document.getElementById('id_transporter');
                schema.innerHTML = "";
                schema.innerHTML = `<option value="" selected="">--------- Select --------</option>`;

                for (let i = 0; i < schemaeData.length; i++) {
                    schema.innerHTML += `<option value="${schemaeData[i]}">${schemaeData[i]}</option>`;
                }

            }

        })

    }

</script>


<script>
   function trnGst(element) {
    let trn_gst = element.value;
     $.ajax({
        type: 'GET',
        url: "{% url 'mkauto_transport_gst_jquery' %}",
        data: {'trn_gst':trn_gst},

        success: function (data){
            $('#id_trn_gst').val(data.trans_gst);
        }
    })
}

</script>

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %} "></script>
<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'assets/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>


</html>
