<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>IRIS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


{#    <link#}
{#            rel="icon"#}
{#            type="image/x-icon"#}
{#            href="{% static 'assets/img/favicon/favicon.ico' %}"#}
{#    />#}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="{% static 'assets/vendor/fonts/boxicons.css' %}"
    />
    <link
            rel="stylesheet"
            href="{% static 'assets/vendor/css/core.css' %}"
            class="template-customizer-core-css"
    />
    <link
            rel="stylesheet"
            href="{% static 'assets/vendor/css/theme-default.css' %}"
            class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}"/>
    <link
            rel="stylesheet"
            href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />
    <link
            rel="stylesheet"
            href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}"
    />

    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>

  <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">

      <style>
          #example_filter {
              padding-right: 20px;
          }

          #example_length {
              padding-left: 20px;
          }

          #example_info {
              padding-left: 20px;
          }

          .pagination {
              padding-right: 20px;
          }


      </style>


</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="" class="app-brand-link">
                    <span class="app-brand-text demo menu-text fw-bolder ms-2">GST-IRIS</span>
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">

                <li class="menu-item" id="menu-emp-list">
                    <a href="{% url 'empanelled_irps_list' %}" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-bolt-circle"></i>
                        <div data-i18n="Analytics">Empanelled IRPs</div>
                    </a>
                </li>

                <li class="menu-item" id="menu-com">
                    <a href="{% url 'company_list' %}" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-buildings"></i>
                        <div data-i18n="Analytics">Company</div>
                    </a>
                </li>

<!--                <li class="menu-item" id="menu-log">-->
<!--                    <a href="" class="menu-link">-->
<!--                        <i class="menu-icon tf-icons bx bx-history"></i>-->
<!--                        <div data-i18n="Analytics">Log History</div>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="menu-item" id="menu-irn">
                    <a href="{% url 'generate_irn_admin_view' %}" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-layout"></i>
                        <div data-i18n="Analytics">Staging Generate Irn / e-Waybil</div>
                    </a>
                </li>

                  <li class="menu-item" id="menu-gapl">
                    <a href="{% url 'gapl_iris_from_admin_view' %}" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-spa"></i>
                        <div data-i18n="Analytics">GAPL Generate Irn / e-Waybill</div>
                    </a>
                </li>

                          <li class="menu-item" id="menu-gapl-labour">
                    <a href="{% url 'gapl_labour_iris_from_admin' %}" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-spa"></i>
                        <div data-i18n="Analytics">GAPL Labour Invoice</div>
                    </a>
                </li>

                  <li class="menu-item" id="menu-mkauto">
                    <a href="{% url 'mkauto_iris_from_admin_view' %}" class="menu-link">
                        <i class="menu-icon tf-icons bx bxs-package"></i>
                        <div data-i18n="Analytics">MK AUto Generate Irn / e-Waybill</div>
                    </a>
                </li>




            </ul>
        </aside>
        <div class="layout-page">
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>
                <button class="btn btn-icon btn-outline-dark" onClick="javascript:history.go(-1);">
                    <i class='bx bx-arrow-back'></i>
                </button>
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <!-- User -->
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                           data-bs-toggle="dropdown">
                            <div class="avatar avatar-online">
                                <img src="{% static '/assets/img/avatars/user.png' %}" alt
                                     class="w-px-40 h-auto rounded-circle"/>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar avatar-online">
                                                <img src="{% static '/assets/img/avatars/user.png' %}" alt
                                                     class="w-px-40 h-auto rounded-circle"/>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <span class="fw-semibold d-block">{% if user.is_authenticated %}
                                                {{ user.username }}{% endif %}</span>

                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>


                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li>
                                <a class="dropdown-item" href="">
                                    <i class="bx bx-power-off me-2"></i>
                                    <span class="align-middle">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--/ User -->
                </ul>


            </nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                                     class="bs-toast toast toast-placement-ex m-2 bg-danger top-0 end-0 fade show">
                                    <div class="toast-header">
                                        <i class='bx bxs-error-alt'></i>&nbsp;
                                        <div class="me-auto fw-semibold">Error</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="white-space: pre-line">{{ message }}</div>
                                </div>
                            {% elif message.tags == "success" %}
                                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                                     class="bs-toast toast toast-placement-ex m-2 bg-success top-0 end-0 fade show">
                                    <div class="toast-header">
                                        <i class='bx bx-list-check'></i>&nbsp;
                                        <div class="me-auto fw-semibold">Success</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="white-space: pre-line">{{ message }}</div>
                                </div>

                            {% elif message.tags == "warning" %}
                                <div role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000"
                                     class="bs-toast toast toast-placement-ex m-2 bg-warning top-0 end-0 fade show">
                                    <div class="toast-header">
                                        <i class='bx bx-list-check'></i>&nbsp;
                                        <div class="me-auto fw-semibold">Import Error</div>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="white-space: pre-line">{{ message }}</div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script>
        let currentMenu = document.getElementById("{{menu}}");
        currentMenu.classList.add("active");
    </script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src=" https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    <script>
        // new DataTable('#example');
         new DataTable('#example', {
        order: [[3, 'desc']],
             pageLength: 50
    });
    </script>



    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script src="{% static 'assets/js/ui-toasts.js' %}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</div>
</body>
</html>
